@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

//Missing medium fonts (500 weight)

@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/AvenirNextLTPro-It.otf");
}